'.source.sass, .source.css.sass':
  'background-color':
    'prefix': 'background-color'
    'body': 'background-color: ${1:#${2:ffffff}}$0'
  'background-image':
    'prefix': 'background-image'
    'body': 'background-image: ${2:url(\'${1:background.jpg}\')}$0'

  'border':
    'prefix': 'bor'
    'body': 'border: ${1:${2:1}px} solid ${3:#${4:FF0000}};$0'


  'border-radius':
    'prefix': 'br'
    'body': 'border-radius: ${1:0}px ${2:0}px ${3:0}px ${4:0}px;$0'
  'bottom':
    'prefix': 'bot'
    'body': 'bottom: ${1:0}$0'

  'color':
    'prefix': 'col'
    'body': 'color: ${1:#${2:000000}}$0'

  'display':
    'prefix': 'dis'
    'body': 'display: ${1:none}$0'
  'display: block':
    'prefix': 'disb'
    'body': 'display: block$0'
  'display: none':
    'prefix': 'disn'
    'body': 'display: none$0'

  'filter':
    'prefix': 'filter'
    'body': 'filter:progid(startColorStr=\'${1:#FFFFFF}\',endColorStr=\'${2:#000000}\',gradientType=\'${3:0}\',alpha=\'${4:0.5}\')'
  'font-size':
    'prefix': 'fs'
    'body': 'font-size: ${1:${2:1}px}$0'
  'font-style':
    'prefix': 'fst'
    'body': 'font-style: ${1:italic}$0'
  'font-style: italic':
    'prefix': 'fsti'
    'body': 'font-style: italic$0'
  'font-style: normal':
    'prefix': 'fstn'
    'body': 'font-style: normal$0'
  'font-weight':
    'prefix': 'fw'
    'body': 'font-weight: ${1:bold}$0'
  'font-weight: bold':
    'prefix': 'fwb'
    'body': 'font-weight: bold$0'
  'font-weight: normal':
    'prefix': 'fwn'
    'body': 'font-weight: normal$0'


  'height':
    'prefix': 'hei'
    'body': 'height: ${1:${2:1}${3:px}}$0'


  'left':
    'prefix': 'left'
    'body': 'left: ${1:0}px$0'
  'left (shorthand)':
    'prefix': 'lef'
    'body': 'left: ${1:0}px$0'

  'margin':
    'prefix': 'mar'
    'body': 'margin: ${1:${2:1}${3:px}}$0'
  'margin-bottom':
    'prefix': 'marb'
    'body': 'margin-bottom: ${1:${2:1}${3:px}}$0'
  'margin-left':
    'prefix': 'marl'
    'body': 'margin-left: ${1:${2:1}${3:px}}$0'
  'margin-right':
    'prefix': 'marr'
    'body': 'margin-right: ${1:${2:1}${3:px}}$0'
  'margin-top':
    'prefix': 'mart'
    'body': 'margin-top: ${1:${2:1}${3:px}}$0'



  'position':
    'prefix': 'pos'
    'body': 'position: ${1:fixed}$0'
  'position fixed':
    'prefix': 'posf'
    'body': 'position: fixed$0'
  'position static':
    'prefix': 'poss'
    'body': 'position: static$0'
  'right':
    'prefix': 'rig'
    'body': 'right: ${1:0}px$0'
  'text-align':
    'prefix': 'ta'
    'body': 'text-align: ${1:center}$0'
  'text-align: center':
    'prefix': 'tac'
    'body': 'text-align: center$0'
  'text-align: left':
    'prefix': 'tal'
    'body': 'text-align: left$0'
  'text-align: right':
    'prefix': 'tar'
    'body': 'text-align: right$0'

  'top':
    'prefix': 'top'
    'body': 'top: ${1:0}px$0'


  'width':
    'prefix': 'wid'
    'body': 'width: ${1:${2:1}px}$0'


'.source.css, .source.scss, .source.css.scss, .source.less, .source.css.less':

  'background-color':
    'prefix': 'background-color'
    'body': 'background-color: ${1:#${2:ffffff}};$0'
  'background-image':
    'prefix': 'background-image'
    'body': 'background-image: ${2:url(\'${1:background.jpg}\')};$0'

  'border':
    'prefix': 'border'
    'body': 'border: ${1:${2:1}px} solid ${3:#${4:FF0000}};$0'


  'bottom':
    'prefix': 'bottom'
    'body': 'bottom: ${1:0}px;$0'
  'border-radius':
    'prefix': 'br'
    'body': 'border-radius: ${1:0}px ${2:0}px ${3:0}px ${4:0}px;$0'

  'color':
    'prefix': 'color'
    'body': 'color: ${1:#${2:000000}};$0'

  'display':
    'prefix': 'display'
    'body': 'display: ${1:none}$0'
  'display: block':
    'prefix': 'display-b'
    'body': 'display: block$0'
  'display: none':
    'prefix': 'display-n'
    'body': 'display: none$0'

  'filter':
    'prefix': 'filter'
    'body': 'filter:progid(startColorStr=\'${1:#FFFFFF}\',endColorStr=\'${2:#000000}\',gradientType=\'${3:0}\',alpha=\'${4:0.5}\')'

  'font-size':
    'prefix': 'font-size'
    'body': 'font-size: ${1:${2:1}px}$0'
  'font-style':
    'prefix': 'font-style'
    'body': 'font-style: ${1:italic}$0'
  'font-style: italic':
    'prefix': 'font-style-i'
    'body': 'font-style: italic$0'
  'font-style: normal':
    'prefix': 'font-style-n'
    'body': 'font-style: normal$0'
  'font-weight':
    'prefix': 'font-weight'
    'body': 'font-weight: ${1:bold}$0'
  'font-weight: bold':
    'prefix': 'font-weight-b'
    'body': 'font-weight: bold$0'
  'font-weight: normal':
    'prefix': 'font-weight-n'
    'body': 'font-weight: normal$0'
  'height':
    'prefix': 'height'
    'body': 'height: ${1:${2:1}px}$0'

  'inline-block':
    'prefix': 'inline-block'
    'body': 'inline-block:${1:block}$0'
  'inline-block:inline':
    'prefix': 'inline-block-i'
    'body': 'inline-block:${1:inline}$0'
  'inline-block:block':
    'prefix': 'inline-block-b'
    'body': 'inline-block:${1:block}$0'

  'left':
    'prefix': 'left'
    'body': 'left: ${1:0}px$0'
  'left (shorthand)':
    'prefix': 'lef'
    'body': 'left: ${1:0}px$0'

  'margin':
    'prefix': 'margin'
    'body': 'margin: ${1:${2:1}${3:px}}$0'
  'margin-bottom':
    'prefix': 'margin-bottom'
    'body': 'margin-bottom: ${1:${2:1}${3:px}}$0'
  'margin-left':
    'prefix': 'margin-left'
    'body': 'margin-left: ${1:${2:1}${3:px}}$0'
  'margin-right':
    'prefix': 'margin-right'
    'body': 'margin-right: ${1:${2:1}${3:px}}$0'
  'margin-top':
    'prefix': 'margin-top'
    'body': 'margin-top: ${1:${2:1}px}$0'



  'position':
    'prefix': 'position'
    'body': 'position: ${1:fixed}$0'
  'position fixed':
    'prefix': 'position-f'
    'body': 'position: fixed$0'
  'position static':
    'prefix': 'position-s'
    'body': 'position: static$0'
  'right':
    'prefix': 'right'
    'body': 'right: ${1:0}px$0'
  'text-align':
    'prefix': 'text-align'
    'body': 'text-align: ${1:center}$0'
  'text-align: center':
    'prefix': 'text-align-c'
    'body': 'text-align: center$0'
  'text-align: left':
    'prefix': 'text-align-l'
    'body': 'text-align: left$0'
  'text-align: right':
    'prefix': 'text-align-r'
    'body': 'text-align: right$0'

  'top':
    'prefix': 'top'
    'body': 'top: ${1:0}px$0'

  'visibility':
    'prefix': 'visibility'
    'body': 'visibility:${1:visible}$0'
  'visibility:visible':
    'prefix': 'visibility-v'
    'body': 'visibility:${1:visible}$0'
  'visibility:hidden':
    'prefix': 'visibility-h'
    'body': 'visibility:${1:hidden}$0'

  'width':
    'prefix': 'width'
    'body': 'width: ${1:${2:1}px}$0'
