'.source.emp':
  # content
  'EMP Content':
    'prefix': 'xml'
    'body' : '<?xml version="1.0" encoding="UTF-8" ?>\n<content>\n\t<head>
\n\t\t<link ref="${0:eui.css}" type="text/css"/>
\n\t\t<script type="text/x-lua" src="RYTL.lua"></script>
\n\t\t<script type="text/x-lua">\n\t\t\t<![CDATA[
\n\t\t\t\tryt = RYTL:new{};\n\t\t\t]]>\n\t\t</script>
\n\t</head>\n\t<body>\n\t$1\n\t</body>\n</content>'

  'EMP Details Content':
    'prefix': 'xmld'
    'body': '<?xml version="1.0" encoding="UTF-8" ?>\n<content>\n\t<head>\n\t\t<style>
\n\t\t<link ref="${0:eui.css}" type="text/css"/>
\n\n\t\t</style>\n\t\t<script type="text/x-lua" src="RYTL.lua"></script>
\n\t\t<script type="text/x-lua">\n\t\t\t<![CDATA[
\n\t\t\t]]>
\n\t\t</script>\n\t</head>\n\n\t<body>\n\t$1\n\t</body>\n</content>'

  'EMP Lua Script':
    'prefix': 'lua'
    'body' : '\n\t\t<script type="text/x-lua">\n\t\t\t<![CDATA[
\n\t\t\t\tryt = RYTL:new{};$1\n\t\t\t]]>\n\t\t</script>'

  'EMP Lua Frame':
    'prefix': 'luad'
    'body' : '<![CDATA[\n\t\t\t\tryt = RYTL:new{};$1\n\t\t\t]]>'

  'EMP 选择控件':
    'prefix': 'seg'
    'body': '<input type=\'segment\' value=\'$1\' checked=\'checked\'></input>
\n<input type=\'segment\' value=\'$2\'></input>\n$0'

  'EMP 开关控件':
    'prefix': 'swi'
    'body': '<input type=\'switch\' value=\'$1\' checked=\'checked\'/>
\n<input type=\'switch\' value=\'$2\'/>\n$0'

  'EMP WebView':
    'prefix': 'web'
    'body': '<div type=\'webview\' name=\'$1\' class=\'$2\' url=\'$3\'>$0</div>'

  'Anchor':
    'prefix': 'a'
    'body': '<a class="$1" href="${2:#}" linebreakmode="${3:none}" hide="${4:true}">$5</a>$0'

  'Audio':
    'prefix': 'audio'
    'body': '<audio src="$1">\n\t$2\n</audio>'
  # B
  'Bold':
    'prefix': 'b'
    'body': '<b ${1:class="$2"} ${3:loop="${4:false}" velocity="${5:5}"} ${6:numlines="${7:1}"} ${8:linebreakmode="${9:none}"} ${10:shadowcolor="#FF0000" shadowoffset="(9,9)"} >$11 </b>$0'
  'Body':
    'prefix': 'body'
    'body': '<body>\n\t$1\n\t</body>\n'

  'Line Breaker':
    'prefix': 'br'
    'body': '<br>'
  'Button':
    'prefix': 'button'
    'body': '<input type="button" class="${1:class}" border=\'${2:0}\' ${3:delay=\'${4:10}\'}  ${5:leftimg=\'${6:btn_back.png}\'} ${7:onclick="fun()"} name="${8:button}" value="${9:按钮}"></input>$0'

  'Bar Charts':
    'prefix': 'bar-chart'
    'body': '<div type="plot" class="${1:plot}" selectedType="${2:0/1}" >\n\t<ul type="${3:barPlot/columnPlot/cubePlot}" class="${4:scale}">\n\t\t<li>${5:0}</li>\n\t\t<li>${6:1}</li>\n\t\t<li>${7:2}</li>\n\t</ul>\n</div>'

  # C
  'Charts':
    'prefix': 'chart'
    'body': '<input ${1:name="${2:zfContrast}"} ${3:class="${4:cake}"} ${6:onclick="${7:cakeclick()}"} ${8:percent="%{9:0.30}"} type="cake" ${10:value="${11:30%}"} />'

  'Content':
    'prefix': 'content'
    'body': '<content select="$1">$2</content>$0'
  'Comment':
    'prefix': '--'
    'body': '<!-- $1 -->$0'
  'Checkbox Simple':
    'prefix': 'checkbox'
    'body': '<input type="checkbox" class="${1:class}" >${2:text}</input>$0'
  'Checkbox All':
    'prefix': 'checkbox-all'
    'body': '<input type="checkbox" class="${1:class}" ${2:checked="${3:checked/false}"} ${4:enable="${5:true/false}"} ${6:value="${7:checkbox}"} ${7:numlines="${8:1}" linebreakmode="${9:head/middle/tail/none}"} ${10:shadowcolor="#0000FF" shadowoffset="(5,0)"}  ${11:onclick="fun()"}>${12:text}</input>$0'
  # D

  'Div':
    'prefix': 'div'
    'body': '<div ${1: id="${2:name}"} ${3: class="$4"} ${5:enable="${6:true}"} ${7: onclick="${8:fun()}"} ${9: align="${10:center}"} ${11:border="${12:0}"} >\n\t$13\n</div>'
  # E
  'Emphasis':
    'prefix': 'em'
    'body': '<em ${1:class="$2"} ${3:loop="${4:false}" velocity="${5:5}"} ${6:numlines="${7:1}"} ${8:linebreakmode="${9:none}"} ${10:shadowcolor="#FF0000" shadowoffset="(9,9)"} >$11</em>$0'

  # F

  'Form':
    'prefix': 'form'
    'body': '<form name="${1:form_name}" action="${2:/${3:channel_id}/${4:tranCode}}" method="${5:post}">\n\t$6\n</form>'
  # G
  # H

  'Head':
    'prefix': 'head'
    'body': '<head>\n\t$1\n</head>'
  'Hidden':
    'prefix': 'hidden'
    'body': '<input type=\'hidden\' ${1:name="${2:hidden}"} ${3:value="${4:value}"}/>$0'
  # I
  'Italic':
    'prefix': 'i'
    'body': '<i ${1:class="$2"} ${3:loop="${4:false}" velocity="${5:5}"} ${6:numlines="${7:1}"} ${8:linebreakmode="${9:none}"} ${10:shadowcolor="#FF0000" shadowoffset="(9,9)"}>$11</i>$0'

  'Input Simple':
    'prefix': 'input'
    'body': '<input type="text" class="${1:some_class}" name="${2:some_name}"  ${3:hold="${4:hold content}"} ${5: onfocus="fun()" onchange="fun()" onblur="fun()"} value="${6:value}" >$0'

  'Input All':
    'prefix': 'input-all'
    'body': '<input type="text" class="${1:some_class}" name="${2:some_name}"  ${3:hold="${4:hold content}"} ${5:style="-wap-input-format:\'${6:deafult/n/N/date/url/email}\'" showformat="yyyy-MM-dd" valueformat="yyyy/MM/dd"}  ${7:clearmode="${8:never/always/editing/unlessEditing}"} ${9:returnkeytype="${10:default/next/go/join/down}"} ${11:leftimg="${12:default.png}" leftimgmode="${13:always/editing/unlessEditing}"} ${14: onfocus="fun()" onchange="fun()" onblur="fun()"} value="${15:value}" >$0'
  'Image':
    'prefix': 'img'
    'body': '<img src="$1" alt="$2" class="$3" ${4: onclick="${5:fun()}"} />$0'
  # J
  # K
  'Keyboard Input':
    'prefix': 'kbd'
    'body': '<kbd>$1</kbd>$0'
  'Keygen':
    'prefix': 'keygen'
    'body': '<keygen name="${1:name}" challenge="${2:string}" keytype="${3:RSA}" keyparams="${4:medium}">$0'
  # L
  'Label Simple':
    'prefix': 'label'
    'body': '<label ${1:class="${2:class}"}>${3:text}</label>$0'
  'Label':
    'prefix': 'label'
    'body': '<label ${1:class="${2:class}"} ${3:loop="${4:true}" velocity="${5:5}"} ${6:numlines="${7:1}"} ${8:linebreakmode="${9:none/head/middle/tail}"}  ${10:shadowcolor="#FF0000" shadowoffset="(9,9)"} >${:text}</label>$0'

  'List Item':
    'prefix': 'li'
    'body': '<li>$1</li>$0'
  'Link':
    'prefix': 'link'
    'body': '<link ref="${1:eui.css}" type="text/css"/>$0'
  'Line Chart':
    'prefix': 'line-chart'
    'body': '<div type="plot" class="${1:plot}" selectedType="${2:0/1}">\n\t<ul type="yscale" class="2scale1">\n\t\t<li>20000</li>\n\t\t<li>10000</li>\n\t\t<li>0</li>\n\t</ul>\n\t<ul type="xscale" class="2scale2">\n\t\t<li>0</li>\n\t\t<li>1</li>\n\t\t<li>2</li>\n\t</ul>\n\t<ul type="linePlot" class="line">\n\t\t<li class="li11" value="34500.00" xpoint="0" onclick="ChangeInfo()">34500.00</li>\n\t\t<li class="li61" value="12000.30" xpoint="5">1200.30</li>\n\t\t<li class="li71" value="34100.90" xpoint="6">34100.90</li>\n\t</ul>\n\t<ul type="linePlot" class="line2">\n\t\t<li class="li52" value="34000.60" xpoint="4">34000.60</li>\n\t\t<li class="li62" value="34200.30" xpoint="5">34200.30</li>\n\t\t<li class="li72" value="34100.90" xpoint="6">34100.90</li>\n\t</ul>\n\t\t   </div>'
  # M
  'Main':
    'prefix': 'main'
    'body': '<main>\n\t$1\n</main>'

  # N

  # O

  'Option':
    'prefix': 'opt'
    'body': '<option ${1:class="${2:class}"} ${3: value="${4:option}"} ${5:onclick="${6:fun()}"}>${7:option}</option>$0'
  'Option Selcted':
    'prefix': 'opt-sel'
    'body': '<option ${1:class="${2:class}"} ${3: value="${4:option}"} selected="${5:selected}"  ${6:onclick="${7:fun()}"}>${8:option}</option>$0'
  # P
  'Password':
    'prefix': 'password'
    'body': '<input type="password" class="${1:class}" border="${2:0}" hold="${3:输入提示文字}" ${4:onfocus="fun()" onchange="fun()" onblur="fun()"} ${5:substitute="●"} ${6:isorder="false"} value=""/>$0'

  # Q

  # R
  'Radio':
    'prefix': 'rp'
    'body': '<input type="radio" ${1:class="${2:class}"}   ${3:checked="checked"} ${4:name="${5:name}"} ${6:numlines="2" linebreakmode="middle" } ${7:valign="${8:top/middle/bottom}" } ${9:value="${10:value}"}>${11:text}</input>$0'

  'RichText':
    'prefix': 'richtext'
    'body': '<richtext class ="${1:richtext}" name ="${2:richtext}">\n\t<![CDATA[\n\t$\n\t]]>\n</richtext>$0'

  # S
  'Submit':
    'prefix': 'submit'
    'body': '<input type="submit" class="${1:class}" border=\'${2:0}\' ${3:delay=\'${4:10}\'}  ${5:leftimg=\'${6:btn_back.png}\'}  name="${7:submit}" value="${8:提交}"></input>$0'

  'Script':
    'prefix': 'script'
    'body': '<script type="text/x-lua"><![CDATA[\n\t$1\n]]></script>'
  'Script With External Source':
    'prefix': 'scriptsrc'
    'body': '<script type="text/x-lua" src="$1ert.lua" ></script>$0'

  'Segment Simple':
    'prefix': 'section'
    'body': '<input type="segment" name="${1:segment}" class="${2:segment}" value="${3:segment }" >${4:search}</input>$0'
  'Segment All':
    'prefix': 'section-all'
    'body': '<input type="segment" name="${1:segment}" class="${2:segment}" value="${3:segment }" ${4:enable=\'${5:false}\'} ${6:titleimg="${7:local:bj.png}"} ${8: selected="${9:selected}"} ${10:ontintcolor="${11:#FFFF00}"} ${12:cornerradius="${13:25}"} ${14:onclick="${15:fun()}"}>${16:search}</input>$0'
  'Select':
    'prefix': 'select'
    'body': '<select name="$1" ${2:class="${3:class}"}>\n\t$4\n</select>'
  'Switch Simple':
    'prefix': 'switch'
    'body': '<input type="switch" name="${1:switch}" class="${2:class}" ${3:checked="checked"}  >${4:yes}</input>$0'

  'Switch All':
    'prefix': 'switch-all'
    'body': '<input type="switch" name="${1:switch}" class="${2:class}" ${3:checked="checked"} ${4:enable=\'${5:true}\'} ${6:onclick="${7:onclick()}"} ${8:ontintcolor="#3CB371" offtintcolor="#3CB371" thumbtintcolor="#2E8B57" }  >${9:yes}</input>$0'

  'Strong':
    'prefix': 'strong'
    'body': '<strong ${1:class="$2"} ${3:loop="${4:false}" velocity="${5:5}"} ${6:numlines="${7:1}"} ${8:linebreakmode="${9:none}"} ${10:shadowcolor="#FF0000" shadowoffset="(9,9)"} >$11</strong>$0'
  'Style':
    'prefix': 'style'
    'body': '<style media="screen">\n\t$1\n</style>'

  # T
  'Table Simple':
    'prefix': 'table'
    'body': '<table ${1:class="${2:class}"} >\n\t$3\n</table>'

  'Table All':
    'prefix': 'table-all'
    'body': '<table ${1:class="${2:class}"} ${3:separator="${4:#fff000}"} ${5:border="${6:1}"}>\n\t$5\n</table>'

  'Table Cell All':
    'prefix': 'td-all'
    'body': '<td ${1:class="${2:class}"} ${3:align="${4:left/right/center}"}  ${5:valign="${6:top/bottom/middle}"} ${7:onclick="${8:fun()}"}>\n\t$1\n</td>'

  'Table Header Cell All':
    'prefix': 'th-all'
    'body': '<th ${1:class="${2:class}"} ${3:align="${4:left/right/center}"} ${5:valign="${6:top/bottom/middle}"} ${7:onclick="${8:fun()}"}>\n\t$1\n</th>'

  'Table Row All':
    'prefix': 'tr-all'
    'body': '<tr ${1:class="${2:class}"} ${3:align="${4:left/right/center}"} ${5:onclick="${6:fun()}"}>\n\t$1\n</tr>'

  'Table Cell Simple':
    'prefix': 'td'
    'body': '<td>\n\t$1\n</td>'

  'Table Header Cell Simple':
    'prefix': 'th'
    'body': '<th>\n\t$1\n</th>'

  'Table Row Simple':
    'prefix': 'tr'
    'body': '<tr>\n\t$1\n</tr>'

  # U
  'Unordered List':
    'prefix': 'ul'
    'body': '<ul type="${1:barPlot/columnPlot/cubePlot}">\n\t$1</ul>$0'
  # V

  # W
  'Webview':
    'prefix': 'wbr'
    'body': '<div type="webview" url="${1:http://www.baidu.com}"></div>'


  # ERT Snippet
'.source.coffee':
  'Ert Snippet Temp':
    'prefix': 'esnip'
    'body': '\'${1:Snippet Name}\': \r\n\t\'prefix\': \'${2:hello}\'\r\n\t\'body\': \'${3:Hello World!}\''
