# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable emp-debugger': 'emp-debugger:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Emp Debugger'
      'submenu': [
        { 'label': 'Setting View', 'command': 'emp-debugger:setting-view' }
        {type: 'separator'}
        { 'label': 'Create App', 'command': 'emp-debugger:create-app' }
        { 'label': 'Show Channel', 'command': 'emp-debugger:show-channel' }

      ]
    ]
  }
]
