# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle emp-debugger'
      'command': 'emp-debugger:setting-view'
    }
  ]

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Emp Debugger'
      'submenu': [
        { 'label': 'Setting View', 'command': 'emp-debugger:setting-view' }
        {type: 'separator'}
        { 'label': 'Create App', 'command': 'emp-debugger:create-app' }
        { 'label': 'Create Template App', 'command': 'emp-debugger:create-temp' }
        { 'label': 'Show Channel', 'command': 'emp-debugger:show-channel' }

      ]
    ]
  }
  {
    'label': 'Emp'
    'submenu': [
        { 'label': 'Setting View', 'command': 'emp-debugger:setting-view' }
        {type: 'separator'}
        { 'label': 'Create App', 'command': 'emp-debugger:create-app' }
        { 'label': 'Create Template App', 'command': 'emp-debugger:create-temp' }
        { 'label': 'Show Channel', 'command': 'emp-debugger:show-channel' }
        # { 'label': 'Create A Channel Page', 'command': 'emp-debugger:create-front-page' }
        {type: 'separator'}
        { 'label': 'Live Preview', 'command': 'emp-debugger:live-preview' }
        { 'label': 'Enabel View', 'command': 'emp-debugger:enable-view' }
        { 'label': 'Enabel Lua', 'command': 'emp-debugger:enable-lua' }
        { 'label': 'View Logs', 'command': 'emp-debugger:view-log' }
        {type: 'separator'}
        { 'label': 'EMP Refresh Link', 'command': 'emp-debugger:refresh_link' }
    ]
  }
]
