"atom-workspace":
	"ctrl-alt-d": "emp-debugger:live-preview"
	"ctrl-alt-e": "emp-debugger:enable-view"
	"ctrl-alt-l": "emp-debugger:view-log"
	"ctrl-alt-s": "emp-debugger:setting-view"
	"ctrl-alt-p": "emp-debugger:enable-lua"
	"ctrl-alt-q": "emp-debugger:show-channel"
	"ctrl-alt-w": "emp-debugger:create-app"
	"ctrl-alt-r": "emp-debugger:create-temp"
".platform-win32 atom-text-editor:not(.mini), .platform-linux atom-text-editor:not(.mini) ":
	"ctrl-}": "emp-debugger:open_link"
	"ctrl-{": "emp-debugger:open_link"
".platform-darwin atom-text-editor:not(.mini)":
	"ctrl-o": "emp-debugger:open_link"
	"ctrl-}": "emp-debugger:open_link"
	"ctrl-{": "emp-debugger:open_link"