/*Add By EMP Debugger*/
/* Warning 警告: 请不要修改该文件,修改之后再次刷新时,该文件会被覆盖!!!*/


/* Ert Common Button */
.input{width: 320px;height: 50px;background-color: #147EEC;}
.select{width: 320px;height: 50px;background-color: #147EEC;}
.bg_blue{background-color: #147EEC;}
.bg_red{background-color: #FF00FF;}
.bg_grew{background-color: #C0C0C0;}
.bg_green{background-color: #00FF00;}
.bg_white{background-color: #FFFFFF;}
.tr{width: 320px;height: 50px;}
.img{width:18px;height: 18px;}
.td{width:160px;}
.font_16_white{color:#FFFFFF;font-size:16px;}
.font_16_black{color:#000000;font-size:16px;}
