// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.emp-debugger {
  position: absolute;
  top: 100px;
  left: 30%;
  width: 500px;
  // background: #fff;
  color: @text-color;
  background: @base-background-color;
  padding: 0;
  // margin-left: -250px;
  z-index: 9999;
  box-sizing: border-box;

  .btn.btn-right{
    right:0px;
  }
  .file_panel {
    max-height:500px;
    overflow: auto;
  }

  .table_panel {
    max-height:500px;
    width:100%;
    padding: @component-padding/2;
    // top:0;
    // bottom:0;
    // left:0;
    // right:9em;
    border: 1px solid #ccc;
    background-color: #e7e7e7;
    overflow: auto;

    // .table_panel {
    //   margin-left:5px;
    //   margin-right:5px;
    //   border:"1";
    //   frame:"hsides";
    //   rules:groups;
    //   left:0;
    //   right:0;
    //
    // }
  }

  .emp_item_list_div {
    // top:0;
    padding: @component-padding/2;
    top:0;
    bottom:0;
    left:0;
    right:9em;
    min-width: 0;
    position: absolute;
    // overflow:auto;
    overflow: auto;
    -webkit-flex-direction: column;
    border: 1px solid #ccc;
    background-color: #e7e7e7;
    box-shadow: -1px 0px 1px -1px #aeaeae inset;
  }

  .extra_panel {
    max-height: 150px;
  }


  .editor-container {
    margin-bottom: @component-padding;

    atom-text-editor[mini],
    atom-text-editor[mini].is-focused::shadow {
      // color: @text-color;
      color: #333333;
      background-color: #fff;
      padding: 6px 12px;

      .cursor {
        border-color: #000;
      }

      .selection .region {
        background-color: rgba(0, 0, 0, .2);
      }

      .placeholder-text {
        color: #888;
      }
    }
  }
}

.emp-btn-div {
  margin: 10px 5px 10px 5px;
}
.emp-btn-div-ab {
  // position: absolute;
  // right:10px;
  // top:5px;
  min-width:40%;
  float:right;

  .emp-btn-sel {
    margin-right: 10px;
  }
  // margin: 10px 5px 10px 5px;
}


.emp-btn-ok {
  // right:10px;
  // margin：0 auto;
  margin-left: 10px;
}

.emp-btn-right {
  // right:10px;
  // margin：0 auto;
  margin-right: 10px;
  margin-left: 80%;
  // right:0px;
}
.emp-btn-cancel {
  // right:60px;
  // margin：0 auto;
  margin-left: 60%;
  margin-right: 0px;
}

.emp-conf-label {
  color: #F0FFFF;
  margin: 5px 5px 5px 0px;
}

.emp-label-conment {
  color: @text-color;
  margin: 5px 5px 5px 5px;
}

.emp-div-content {
  margin: 5px 5px 5px 10px;
}

.emp-label-content {
  color: @text-color-info;
  margin: 5px 5px 5px 5px;
}

.emp-port-input {
  margin: 5px 5px 5px 10px;
}

.log-console-resize-handle {
  height: 6px;
  cursor: row-resize;
  z-index: 3;
  margin-top: -3px;
}

.emp-log-pane {
  // position: absolute;
  display: -webkit-flex;
  -webkit-flex: 0.4;
  overflow: scroll;
  // position: relative;
  -webkit-flex-direction: column;
  font-size: 13px;
  line-height: 1.3;

    .emp_bar {
      margin: 0;
    }

    .emp-log-panel {
      -webkit-flex: 1;
      display: -webkit-flex;
      man-height: 50px;
      min-width: 0;
      position: relative;
      .emp-log-view {
        // background-color:#FFFF00;
        position: absolute;
        // position:relative;
        top: 0;
        right : 0;
        bottom: 0;
        left: 0;
        // display: flex;
        overflow: auto;
        cursor: text;
        display: -webkit-flex;
        -webkit-user-select: none;

        .emp_body {
          // background-color:#FF33CC;

          // overflow-x: auto;
          // overflow-y: hidden;
          // -webkit-flex: 1;
          top:0;
          bottom:0;
          right:0;
          left:3em;
          -webkit-flex: 1;
          min-width: 0;
          // width:auto;
          // position: absolute;

          position: relative;
          opacity: 0.6;
        }

        .emp-log-row {
          // background-color:#FF33CC;
          // overflow-x: hidden;
          // overflow-y: hidden;
          // -webkit-flex: 1;
          top:0;
          // bottom:0;
          right:0;
          left:3em;
          min-width: 0;
          position: absolute;
          opacity: 0.6;
          overflow:auto;


          .emp-log-con{
            color:#FFFFFF;
            // word-wrap:normal;
            vertical-align: top;
            padding:0;
            // height:auto;
            // display:block;
            right:0;
            left:0;
            font-size: 13px;
            line-height: 1.3;
          }


          .emp-log-line {
            // height: 19px;
            position: relative;
            // overflow-x: auto;
            // display:block;

            .emp-log-con{
              color:#FFFFFF;
              // word-wrap:normal;
              vertical-align: top;
              padding:0;
              // height:auto;
              // display:block;
              right:0;
              left:0;
            }

          }
        }

        .line-numbers {
          background-color: #313335;
          position: absolute;
          left:0;
          // bottom:0;
          top:0;
          cusor:default;
          z-index:4;

          text-align: right;
          cursor: default;
          min-width: 1em;
          box-sizing: border-box;
          display: block;
          opacity: 0.6;

          .line-number {
            position: relative;
            font-family: 'Lucida Grande', 'Segoe UI', sans-serif;
            font-size: 1em;

            .icon-right {
              display: inline-block;
              visibility: hidden;
              padding-left: .1em;
              padding-right: .5em;
              opacity: .7;
            }
          }
        }

        .emp_gutter {
          position: absolute;
          // position: relative;

          // padding-left: 0.5em;
          // padding-right: 0.5em;
          left:0;
          bottom:0;
          top:0;
          overflow: hidden;
          cusor:default;
          z-index:4;

          text-align: right;
          cursor: default;
          min-width: 1em;
          box-sizing: border-box;
          display: block;
          opacity: 0.6;

          .line-number.cursor-line {
            opacity: 1;
          }

        }

      }
    }


}




.overlay1 {
  position: absolute;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  z-index: 9999;
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px;
}
